<!-- Mesto prikazivanja ruta (rutera)
Vise o rutama: https://angular.io/guide/router#defining-routes
-->

<mat-sidenav-container>
  <!-- Sidenav -->
  <mat-sidenav #sidenav>
    <div
      (click)="sidenav.toggle()"
      fxLayout="column"
      fxLayoutAlign="center start"
      fxLayoutGap="10px"
    >
      <a mat-button routerLink="/">
        Početna
        <mat-icon inline matPrefix>home</mat-icon>
      </a>
      <a mat-button routerLink="/books">
        Knjige
        <mat-icon inline matPrefix>auto_stories</mat-icon>
      </a>
      <a
        *ngIf="!this._userService.currentUser"
        mat-button
        routerLink="/sign-in"
      >
        Uloguj se
        <mat-icon inline matPrefix>login</mat-icon>
      </a>

      <a
        mat-button
        *ngIf="this._userService.currentUser"
        (click)="openCart(this._userService.currentUser.id)"
      >
        Korpa
        <mat-icon
          inline
          matPrefix
          matPrefix
          [matBadge]="countBooks()"
          matBadgeSize="small"
          matBadgeColor="warn"
          >shopping_cart</mat-icon
        >
      </a>

      <a
        mat-button
        *ngIf="this._userService.currentUser"
        (click)="openProfile(this._userService.currentUser.id)"
      >
        Profil
        <mat-icon inline matPrefix>account_circle</mat-icon>
      </a>

      <a mat-button (click)="logOut()" *ngIf="this._userService.currentUser">
        Izloguj se
        <mat-icon inline matPrefix>logout</mat-icon>
      </a>
    </div>
  </mat-sidenav>

  <!-- Content -->
  <div class="container-fluid">
    <mat-toolbar fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <button
          mat-icon-button
          (click)="sidenav.toggle()"
          fxHide.md
          fxHide.gt-md
        >
          <mat-icon>menu</mat-icon>
        </button>
        <div class="logo-wrapper">
          <img src="../assets/BOOKNEST.svg" alt="Loading..." />
        </div>
      </div>
      <div>
        <div
          fxFlex
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="15px"
          fxHide.lt-md
        >
          <a mat-button routerLink="/">
            Početna
            <mat-icon inline matPrefix>home</mat-icon>
          </a>
          <a mat-button routerLink="/books">
            Knjige
            <mat-icon inline matPrefix>auto_stories</mat-icon>
          </a>
          <a
            *ngIf="!this._userService.currentUser"
            mat-button
            routerLink="/sign-in"
          >
            Uloguj se
            <mat-icon inline matPrefix>login</mat-icon>
          </a>
          <a
            mat-button
            (click)="logOut()"
            *ngIf="this._userService.currentUser"
          >
            Izloguj se
            <mat-icon inline matPrefix>logout</mat-icon>
          </a>

          <button
            *ngIf="this._userService.currentUser"
            mat-icon-button
            (click)="openCart(this._userService.currentUser.id)"
          >
            <mat-icon
              class="icon-size2"
              [matBadge]="countBooks()"
              matBadgeSize="small"
              matBadgeColor="warn"
              MatBadgePosition="below"
              >shopping_cart</mat-icon
            >
          </button>

          <button
            *ngIf="this._userService.currentUser"
            mat-icon-button
            class="icon-size"
            (click)="openProfile(this._userService.currentUser.id)"
          >
            <mat-icon>account_circle</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

<button
  mat-icon-button
  class="chatbot"
  (click)="openChatbot()"
  *ngIf="this.chatbotOpened"
>
  <mat-icon>forum</mat-icon>
</button>
